@import 'font'
@import 'color'
@import 'mixins'
@import 'login'

.card
  background-color: white
  color: #000
  border-radius: 5px
  box-shadow: 0 1px 2px rgba(25,25,34,0.3)
  -webkit-box-shadow: 0 1px 2px rgba(25,25,34,0.3)
  padding: 15px 15px 20px 15px
  margin-bottom: 20px

.texto
  font-weight: bold

.btn
    font-size: 13px

body 
  background-color: #E4E4E4
  padding-top: 90px
  font-family: Avenir-Light
  font-size: 12px
  h4
    font-size: 14px
    // color: darken(adjust-hue($primary, 140), 10)
    color: darken($primary, 10)
  .navbar
    .dropdown-header
      font-weight: bold
      font-size: 14px
    .dropdown-item
      font-size: 14px !important
      &:active, &:hover
        background-color: lighten($primary, 20)
    li.active
      color: $text
      &>a
        background-color: lighten($yellow, 15) !important
        +border-radius(5px)

.trash
  color: $red
  padding-left: 1px

.edit
  color: $green

.search
  color: $accent

.nuevo-alert
  margin-top: 20px
  margin-bottom: 10px

.btn-primary
  +material-button($primary)

.btn-secondary
  +material-button($secondary)

.btn-info
  +material-button(adjust-hue($primary, 180))

.modal-body table.table-bordered.dataTable th, .modal-body table.table-bordered.dataTable td
  /* padding-left: 10px; */
  height: 20px !important


// Select - Picker
.show > .btn-primary.dropdown-toggle
  +material-button($primary)
.dropdown-item:active, .dropdown-item.active
  background-color: $primary

// Paginacion Datatables
.page-item
  .page-link
    color: $primary
  &.active .page-link
    background-color: $primary
    border-color: $primary

// Corrección Filas de dataTable
table.table-bordered.dataTable th, table.table-bordered.dataTable td 
  padding-left: 10px
  height: 45px

// Corrección Boton (+) de dataTable
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, 
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before 
  height: 20px
  width: 20px
  display: block
  position: absolute
  color: white
  border: none
  border-radius: 20px
  box-shadow: none
  box-sizing: content-box
  text-align: center
  text-indent: 0 !important
  font-family: 'Courier New', Courier, monospace
  line-height: 20px
  content: '+'
  background-color: $primary !important

.foto-empleado, .foto-usuario
  height: 100px
  width: 100px

@media (max-width: 960px)
  .modal-dialog 
    max-width: 70%
    margin: 1.75rem auto

@media (max-width: 768px)
  .modal-dialog 
    max-width: 80%
    margin: 1.75rem auto

@media (max-width: 576px)
  .modal-dialog 
    max-width: 90%
    margin: 1.75rem auto

@media (max-width: 575px)
  .modal-dialog 
    max-width: 95%
    margin: 1.75rem auto