@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir-Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
  font-family: "Avenird-Book";
  src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
}

.btn:visited, .btn:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

#login {
  margin: 0 auto;
  background: url("../img/wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

#login .jumbotron {
  background: none;
}

#login h4 {
  color: #9ba5b0;
}

.card {
  background-color: white;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(25, 25, 34, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(25, 25, 34, 0.3);
  padding: 15px 15px 20px 15px;
  margin-bottom: 20px;
}

.texto {
  font-weight: bold;
}

.btn {
  font-size: 13px;
}

body {
  background-color: #E4E4E4;
  padding-top: 90px;
  font-family: Avenir-Light;
  font-size: 14px;
}

body h4 {
  font-size: 18px;
  color: #d71f5c;
}

body .navbar .dropdown-header {
  font-weight: bold;
  font-size: 14px;
}

body .navbar .dropdown-item {
  font-size: 14px !important;
}

body .navbar .dropdown-item:active, body .navbar .dropdown-item:hover {
  background-color: #9ed5f1;
}

body .navbar li.active {
  color: #3E3E3E;
}

body .navbar li.active > a {
  background-color: #fbeb8d !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
}

.trash {
  color: #F52630;
  padding-left: 1px;
}

.edit {
  color: #74C748;
}

.search {
  color: #F19A7C;
}

.nuevo-alert {
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-primary:not([disabled="disabled"]) {
  outline: none !important;
  background-position: center;
  background: #45AFE4;
  border-color: #45AFE4 !important;
  -webkit-transition: -webkit-box-shadow 1s !important;
  transition: -webkit-box-shadow 1s !important;
  transition: box-shadow 1s !important;
  transition: box-shadow 1s, -webkit-box-shadow 1s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
}

.btn-primary[disabled="disabled"] {
  outline: none !important;
  background-position: center;
  background: #1f9ad7;
  border-color: #1f9ad7 !important;
  -webkit-transition: -webkit-box-shadow 1s !important;
  transition: -webkit-box-shadow 1s !important;
  transition: box-shadow 1s !important;
  transition: box-shadow 1s, -webkit-box-shadow 1s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
}

.btn-primary:hover:not([disabled="disabled"]) {
  outline: none !important;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border-color: #45AFE4 !important;
  background: #5bb9e7 radial-gradient(circle, transparent 1%, #5bb9e7 1%) center/15000%;
  -webkit-transition: -webkit-box-shadow 1.5s !important;
  transition: -webkit-box-shadow 1.5s !important;
  transition: box-shadow 1.5s !important;
  transition: box-shadow 1.5s, -webkit-box-shadow 1.5s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
  background-position: center;
}

.btn-primary:active:not([disabled="disabled"]) {
  outline: none !important;
  -webkit-box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
  background-color: #9ed5f1 !important;
  border-color: #45AFE4 !important;
  background-size: 100%;
  -webkit-transition: background 0s !important;
  transition: background 0s !important;
}

.btn-secondary:not([disabled="disabled"]) {
  outline: none !important;
  background-position: center;
  background: #FAC375;
  border-color: #FAC375 !important;
  -webkit-transition: -webkit-box-shadow 1s !important;
  transition: -webkit-box-shadow 1s !important;
  transition: box-shadow 1s !important;
  transition: box-shadow 1s, -webkit-box-shadow 1s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
}

.btn-secondary[disabled="disabled"] {
  outline: none !important;
  background-position: center;
  background: #f8ae44;
  border-color: #f8ae44 !important;
  -webkit-transition: -webkit-box-shadow 1s !important;
  transition: -webkit-box-shadow 1s !important;
  transition: box-shadow 1s !important;
  transition: box-shadow 1s, -webkit-box-shadow 1s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
}

.btn-secondary:hover:not([disabled="disabled"]) {
  outline: none !important;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border-color: #FAC375 !important;
  background: #fbce8e radial-gradient(circle, transparent 1%, #fbce8e 1%) center/15000%;
  -webkit-transition: -webkit-box-shadow 1.5s !important;
  transition: -webkit-box-shadow 1.5s !important;
  transition: box-shadow 1.5s !important;
  transition: box-shadow 1.5s, -webkit-box-shadow 1.5s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
  background-position: center;
}

.btn-secondary:active:not([disabled="disabled"]) {
  outline: none !important;
  -webkit-box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
  background-color: #feeed7 !important;
  border-color: #FAC375 !important;
  background-size: 100%;
  -webkit-transition: background 0s !important;
  transition: background 0s !important;
}

.btn-info:not([disabled="disabled"]) {
  outline: none !important;
  background-position: center;
  background: #e47a45;
  border-color: #e47a45 !important;
  -webkit-transition: -webkit-box-shadow 1s !important;
  transition: -webkit-box-shadow 1s !important;
  transition: box-shadow 1s !important;
  transition: box-shadow 1s, -webkit-box-shadow 1s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
}

.btn-info[disabled="disabled"] {
  outline: none !important;
  background-position: center;
  background: #d75c1f;
  border-color: #d75c1f !important;
  -webkit-transition: -webkit-box-shadow 1s !important;
  transition: -webkit-box-shadow 1s !important;
  transition: box-shadow 1s !important;
  transition: box-shadow 1s, -webkit-box-shadow 1s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
}

.btn-info:hover:not([disabled="disabled"]) {
  outline: none !important;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border-color: #e47a45 !important;
  background: #e78a5b radial-gradient(circle, transparent 1%, #e78a5b 1%) center/15000%;
  -webkit-transition: -webkit-box-shadow 1.5s !important;
  transition: -webkit-box-shadow 1.5s !important;
  transition: box-shadow 1.5s !important;
  transition: box-shadow 1.5s, -webkit-box-shadow 1.5s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
  background-position: center;
}

.btn-info:active:not([disabled="disabled"]) {
  outline: none !important;
  -webkit-box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
  background-color: #f1ba9e !important;
  border-color: #e47a45 !important;
  background-size: 100%;
  -webkit-transition: background 0s !important;
  transition: background 0s !important;
}

.modal-body table.table-bordered.dataTable th, .modal-body table.table-bordered.dataTable td {
  /* padding-left: 10px; */
  height: 20px !important;
}

.show > .btn-primary.dropdown-toggle:not([disabled="disabled"]) {
  outline: none !important;
  background-position: center;
  background: #45AFE4;
  border-color: #45AFE4 !important;
  -webkit-transition: -webkit-box-shadow 1s !important;
  transition: -webkit-box-shadow 1s !important;
  transition: box-shadow 1s !important;
  transition: box-shadow 1s, -webkit-box-shadow 1s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
}

.show > .btn-primary.dropdown-toggle[disabled="disabled"] {
  outline: none !important;
  background-position: center;
  background: #1f9ad7;
  border-color: #1f9ad7 !important;
  -webkit-transition: -webkit-box-shadow 1s !important;
  transition: -webkit-box-shadow 1s !important;
  transition: box-shadow 1s !important;
  transition: box-shadow 1s, -webkit-box-shadow 1s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
}

.show > .btn-primary.dropdown-toggle:hover:not([disabled="disabled"]) {
  outline: none !important;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border-color: #45AFE4 !important;
  background: #5bb9e7 radial-gradient(circle, transparent 1%, #5bb9e7 1%) center/15000%;
  -webkit-transition: -webkit-box-shadow 1.5s !important;
  transition: -webkit-box-shadow 1.5s !important;
  transition: box-shadow 1.5s !important;
  transition: box-shadow 1.5s, -webkit-box-shadow 1.5s !important;
  -webkit-transition: background 0.5s !important;
  transition: background 0.5s !important;
  background-position: center;
}

.show > .btn-primary.dropdown-toggle:active:not([disabled="disabled"]) {
  outline: none !important;
  -webkit-box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12) !important;
  background-color: #9ed5f1 !important;
  border-color: #45AFE4 !important;
  background-size: 100%;
  -webkit-transition: background 0s !important;
  transition: background 0s !important;
}

.dropdown-item:active, .dropdown-item.active {
  background-color: #45AFE4;
}

.page-item .page-link {
  color: #45AFE4;
}

.page-item.active .page-link {
  background-color: #45AFE4;
  border-color: #45AFE4;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
  padding-left: 10px;
  height: 45px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  color: white;
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  line-height: 20px;
  content: '+';
  background-color: #45AFE4 !important;
}

.foto-empleado, .foto-usuario {
  height: 100px;
  width: 100px;
}
/*# sourceMappingURL=style.css.map */